    <!DOCTYPE html>
    {% load static %}

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ChatBot</title>
        <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
        

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="moon"></div>
        <div class="star">
            <div class="stars"></div>
            <div class="stars"></div>
            <div class="stars"></div>
            <div class="stars"></div>
            <div class="stars"></div>
            <div class="stars"></div>
            <div class="stars"></div>
            <div class="stars"></div>
            <div class="stars"></div>
            <div class="stars"></div>
        </div>
        <div class="wrapper">
            <h1>Welcome to ProjGen</h1>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="text-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" name="query" class="tec" placeholder="What is your query today ?" required>
                    <input type="submit" class="bt" value="Go">    
                </div>
            </form>


        </div>
        <script src="{% static 'myapp/script.js' %}" defer></script>
    </body>
    </html>